*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Righteous', cursive;
}

body{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    background-color: #F3F5FC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo{
    width: 2rem;
}

.main-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text{
    border: none;
    padding: 0.4rem;
    height: 35vh;
    resize: none;
    background: transparent;
    color:#0A3871;
}

.text::placeholder{
    color: #0A3871;
    font-size: 1.2rem;
    text-align: left;    
    opacity: 0.7;
    padding-left: 0.2rem ;
}

.info-alert{
    display: flex;
    align-items: center;
}

.info-alert img{
    width: 1rem;
    height: 1rem;
}

.info{
    color:#495057;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.encrypt-btn, .decrypt-btn{
    border-radius: 1.5rem;
    padding: 1rem;
    width: 80vw;
}

.encrypt-btn{
    background-color: #0A3871;
    color: white;  
}

.decrypt-btn{
    background-color: white;
    border: 1px solid #0A3871;
    color: #0A3871;
}

.response-section{
    border-radius: 2rem;
    width: 80vw;
    text-align: center;
    padding: 1rem;
    background-color: white;
    box-shadow: 2px 24px 32px -8px black;
    margin: 1.5rem auto;
    height: 30vh;
    display: flex;
    align-items: center;
}

.response-section img{
    display: none;
}

.response-section h2{
    margin-bottom: 1rem;
}

.response-message{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.response-message textarea{
    border: none;
    padding: 0.8rem;
    width: 60vw;
    resize: none;
}

.copy-btn{
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #0A3871;
    color: #0A3871;
    padding: 1rem;
    width: 60vw;
}

.no-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media(min-width:768px){
    .main-container{
        justify-content: space-around;
    }

    .form-container{
        height:60vh;
    }

    .text-container{
        height: 50vh;
    }

    .button-container{
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 0.5rem;
    }

    .encrypt-btn, .decrypt-btn{
        width: 40vw;
    }

    .response-section{
        width: 100%;
    }

    .no-message{
        height: 20vh;
        justify-content: center;
    }

    .showed-message{
        font-size: 1rem;
    }

}

@media(min-width:1000px){
    body{
        flex-direction: row;
        width: 100%;
        height: 100vh;
        justify-content: space-around;
        padding: 0;
    }

    .logo{
        margin-top: 2rem;
    }

    .main-container{
        flex-direction: row;
        height: 100vh;
        padding: 2rem;
    }

    .form-container{
        width: 60vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
        justify-content: space-between;
    }

    .text-container{
        height: 90vh;
        justify-content: space-between;
    }

    .text{
        margin-top: 5rem;
        font-size: 1.5rem;
    }

    .button-container{
        margin-bottom: 2.2rem;
    }

    .encrypt-btn, .decrypt-btn{
        padding: 1.5rem;
    }

    .response-section{
        width: 20vw;
        height: 100%;
        margin: 0px;
    }

    .response-section img{
        display: block;
        width: 15vw;
        margin-bottom: 2rem;
    }

    .response-message{
        width: 18vw;
        height: 100%;
        justify-content: space-between;
    }

    .response-message textarea{
        width: 15vw;
        height: 90%; 
        font-size: 1.5rem;
    }

    .copy-btn{
        width: 15vw;
    }
}